<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/reset-password" _method="put">
        <input type="password" name="password" id="" placeholder="password">
        <input type="password" name="repeat_password" id="" placeholder="confirm password">

        <input type="submit" value="reset password">

        <a href="/">Go back to sign up</a>
    </form>

    <script>
        document.querySelector('form').addEventListener('submit', function(e) {

            e.preventDefault();
            var password = document.querySelector('[name="password"]').value;
            var repeat_password = document.querySelector('[name="repeat_password"]').value;
            if (password != repeat_password) {
                alert('Passwords do not match');
                return;
            }
            if (localStorage.getItem('tdemail') == null) window.location.href = "/password-reset-page";

            fetch(`/reset-password/${localStorage.getItem("tdemail")}`, {
                    method: 'put',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        password: password,
                        repeat_password: repeat_password
                    })
                })
                .then(function(response) {
                    return response.json();
                })

            .then(function(response) {
                    alert(response.message);
                    if (response.okay) window.location.href = `/login-page`;
                })
                .catch(function(error) {
                    console.log(error);
                    alert(error.message);
                })
        })
    </script>
</body>

</html>